@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Variables para tema oscuro */
  --bg-dark: radial-gradient(at 24.182683184015975% 87.84145538818858%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%),
    radial-gradient(at 53.317331315594885% 51.05598127622819%, hsla(180, 32.00000000000001%, 70.58823529411765%, 1) 0%, hsla(180, 32.00000000000001%, 70.58823529411765%, 0) 100%),
    radial-gradient(at 45.13970978683963% 80.279989217324%, hsla(167.99999999999997, 17.857142857142865%, 43.92156862745098%, 1) 0%, hsla(167.99999999999997, 17.857142857142865%, 43.92156862745098%, 0) 100%),
    radial-gradient(at 67.2432457735036% 85.68203355586652%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%),
    radial-gradient(at 29.208298789205834% 64.9450943700276%, hsla(180, 32.00000000000001%, 70.58823529411765%, 1) 0%, hsla(180, 32.00000000000001%, 70.58823529411765%, 0) 100%),
    radial-gradient(at 90.8048422852741% 45.22702281854205%, hsla(167.99999999999997, 17.857142857142865%, 43.92156862745098%, 1) 0%, hsla(167.99999999999997, 17.857142857142865%, 43.92156862745098%, 0) 100%);

  /* Variables para tema claro */
  --bg-light: radial-gradient(at 18.705910674999203% 15.134840861604705%, hsla(2.526315789473693, 88.78504672897198%, 79.01960784313725%, 1) 0%, hsla(2.526315789473693, 88.78504672897198%, 79.01960784313725%, 0) 100%),
    radial-gradient(at 30.8112932366015% 75.6261221183719%, hsla(46.81318681318682, 60.264900662251655%, 70.3921568627451%, 1) 0%, hsla(46.81318681318682, 60.264900662251655%, 70.3921568627451%, 0) 100%),
    radial-gradient(at 38.48423830104502% 52.722552418335056%, hsla(152.8421052631579, 88.78504672897198%, 79.01960784313725%, 1) 0%, hsla(152.8421052631579, 88.78504672897198%, 79.01960784313725%, 0) 100%),
    radial-gradient(at 39.331314657444636% 12.077087191487678%, hsla(188.5106382978723, 90.9677419354839%, 69.6078431372549%, 1) 0%, hsla(188.5106382978723, 90.9677419354839%, 69.6078431372549%, 0) 100%),
    radial-gradient(at 87.37161537120681% 96.82127143816406%, hsla(212.8421052631579, 88.78504672897198%, 79.01960784313725%, 1) 0%, hsla(212.8421052631579, 88.78504672897198%, 79.01960784313725%, 0) 100%);

  /* Variables para colores de texto */
  --color-dark: #ffffff;
  --color-light: #000000;
}

body[data-theme="dark"] {
  background: var(--bg-dark);
  color: var(--color-dark);
}

body[data-theme="light"] {
  background: var(--bg-light);
  color: var(--color-light);
}

.animate_title {
  font-family: 'Playfair Display', 'serif';
  size: 5rem !important;
  font-weight: bold;
  margin: 20px;
  text-align: center;
  min-height: 6rem;
  letter-spacing: 0.05em;
}


body[data-theme="light"] .h1_animate {
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

body[data-theme="dark"] .h1_animate {
  color: hsla(180, 32%, 70%, 1);
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 1s ease forwards;
}
